/* #phone
{
 margin-top:480px;
 
 
}
#contactus
{
   color:black;
   font-style: italic;
  margin-left: 600px;
} */
#footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:hsla(120, 100%, 25%, 0.726);
  color: black;
  text-align: center;
}